body {
    background-color: rgb(159, 237, 249);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
    position: absolute;
}

h1 {
    color: black;
    border: 2px black solid;
    padding: 3px;
}


.heading {
    top: 5px;
    right: 100px;
    left: 400px;
    padding-left: 25px;
    position: absolute;
}

.video {
    height: 225px;
    width: 400px;
}

h3 {color: black;}

.footer {
    bottom: 5px;
    right: 5px;
    left: 5px;
    height: 25px;
    font-size: 12px;
    color: darkgray;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}